<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% endblock %}
  </head>
  <body role="document">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            &#127137; &#127197; Robo Casino &#127189; &#127198;
          </div>
        </div>
        <p class="navbar-text alpha">(ALPHA)</p>

        <p class="navbar-text">Because computers like gambling too</p>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </li>
            <li>
              {% if current_user.is_authenticated() %}
              <a href="{{ url_for('profile') }}">Profile</a>
              {% else %}
              <a href="login">Join or Log in via GitHub</a>
              {% endif %}
            </li>
          </ul>
      </div> <!-- /.container-fluid -->
    </nav>

    <div class="container container-fluid {% block pgClass %}{% endblock %}">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43468545-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
