<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% endblock %}
  </head>
  <body role="document">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">Casino</div>
        <p class="navbar-text alpha">(ALPHA)</p>

        <p class="navbar-text">Because computers like gambling too</p>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </li>
            <li>
              {% if current_user.is_authenticated() %}
              <a href="{{ url_for('profile') }}">Profile</a>
              {% else %}
              <button type="button" class="btn btn-default navbar-btn">Log in with GitHub</button>
              {% endif %}
            </li>
          </ul>
      </div> <!-- /.container-fluid -->
    </nav>

    <div class="container container-fluid {% block pgClass %}{% endblock %}">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
