{% extends "layout.html" %}
{% block title %}Hold'em leaderboard{% endblock %}
{% block pgClass %}leaderboardPg{% endblock %}
{% block content %}
  <h1>Bot Leaderboard</h1>

  <table class="table table-striped table-bordered text-center">
      <tr>
          <th>Rank</th>
          <th>Bot</th>
          <th>GUID</th>
          <th>Games</th>
          <th>Winnings per hand</th>
          <th>Daily Change</th>
      </tr>
      {% for b in l.bots %}
      <tr class="{% if b.owned %}owned{%endif%}">
          <td>{{ b.rank }}</td>
          <td>{{ b.name }}</td>
          <td><a href="{{ url_for('bot_page', bot_id_guid=b.guid) }}">{{ b.guid }}</a></td>
          <td>{{ b.games }}</td>
          <td>{{ b.skill }}</td>
          <td class="{%if b.delta > 0%}win{%else%}loss{%endif%}">
              {{ b.delta }}
          </td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
