{% extends "layout.html" %}
{% block title %}{{ current_user.username }}{% endblock %}
{% block content %}
  <h1>{{current_user.username}}'s profile</h1>

  {% if p.bots %}
  <h2>Your bots</h2>
  {% endif %}

  {% for bot in p.bots %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ bot.name }}</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered">
        <tr><td>GUID</td><td>Public, identifies your bot to others</td><td>{{ bot.guid }}</td></tr>
        <tr><td>Passkey</td><td>Secret, used to log in to games</td><td>{{ bot.key }}</td></tr>
        <tr><td>Skill</td><td>Chips won per hand dealt</td><td class="{%if bot.skill > 0%}win{%else%}loss{%endif%}">{{ bot.skill }}</td></tr>
        <tr><td>Rank</td><td>Skill rank across all bots</td><td>{{ bot.rank }}</td></tr>
      </table>
    </div> <!-- /panel-body -->
  </div>
  {% else %}
  <div class="jumbotron">
    <h2>First up, create a new bot identity:</h2>
    <p>This will allow you to connect your poker AI to the server and
    play matches.</p>
  </div>
  {% endfor %}

  {% if p.canAdd %}
  <div class="jumbotron">
    <div class="input-group">
      <input type="text" class="form-control" id="botName" placeholder="Enter your new bot's name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="makeBot()">Get credentials</button>
      </span>
    </div><!-- /input-group -->
  </div>
  {% endif %}

  <h2>Recent games</h2>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Bot</th><th>Game Id</th><th>Date</th><th>Hands</th><th>Win/Loss</th>
    </tr>
    {% for g in p.games %}
    <tr>
      <td>{{ g.name }}</td>
      <td>{{ g.guid }}</td>
      <td>{{ g.ts }}</td>
      <td>{{ g.hands }}</td>
      <td class="{%if g.delta_chips > 0%}win{%else%}loss{%endif%}">{{ g.delta_chips }}</td>
    </tr>
    {% else %}
    <h3>None yet. What are you waiting for, get coding!</h3>
    {% endfor %}
  </table>

{% endblock %}
