.navbar-default {
    background-color: rgb(255,152,0);

    .navbar-text, .navbar-nav li > a {
        color: black;
    }
    .navbar-text.alpha {
        color: red;
        font-weight: bold;
    }
}
